<main>
    <h1>Categorías</h1>

    @for (category of categories; track category.idCategory) {
      <div class="category-container">
          <h2>{{category.name}}</h2>
          <div class="topics">
              @for (topic of category.topics; track topic.slug) {
                  <div>
                      <app-card-topics [srcImage]="topic?.topicIcon ?? ''" [title]="topic?.name ?? ''" [nroComments]="topic?.nroThreads?.toString() ?? '0'"
                          [description]="topic?.description ?? ''" [slug]="topic?.slug?.toString() ?? ''" />
                  </div>
              }
          </div>
      </div>
    }
</main>