<div class="flashcards">
    <h1>Flashcards creadas</h1>
    <div class="flashcards-list">
        <app-template-card-profile src="fake-images/logo-biologia.webp" alt="Flashcard de Biologia"
            title="Glosario de Biología" radius="15px" width="150px" height="150px" />
        <app-template-card-profile src="fake-images/flashcard-anatomia.webp" alt="Flashcard de Anatomía"
            title="Las fijas de Anatomía" radius="15px" width="150px" height="150px" />
        <app-template-card-profile src="fake-images/flashcard-matematica.webp" alt="Flashcard de Matemáticas"
            title="Preparación para el parcial" radius="15px" width="150px" height="150px" />
    </div>
</div>