header {
    background-color: #0A2A3E;
    max-width: 100%;
    padding: 0.1rem 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 80px;
    height: 70px;
}

.menu {
    display: none;
}

@media (width <= 768px) {
    .menu {
        display: inline;
        width: 35px;
        height: 35px;
        color: #fff;
    }
}