<div class="container">
    <div class="auth">
        <h1>Recupera tu contraseña</h1>
        <p>En caso te hayas olvidado tu contraseña, escribe tu correo en la caja de texto para enviarte un correo con las indicaciones para que puedas recuperar tu cuenta.</p>
        <form class="form-login">
            <app-input typeInput="email" placeholder="Email" />
            <app-button text="Recuperar Contraseña" padding="15px" width="10rem" hoverColor="#1f6f9b" (click)="openModal()"/>
        </form>
        <p>¿Te acordaste tu contraseña? <span class="url" routerLink="/login">Inicia sesión aquí</span></p>
    </div>
    <div class="image" *ngIf="showImage">
        <img src="images/medicos-conversando2.webp" alt="Imagen de médicos">
    </div>
</div>

<app-modal [isVisible]="isModalVisible" title="Correo Enviado"
    message="Te hemos enviado un correo con las indicaciones, revisa tu bandeja de entrada para recuperar tu cuenta. Si no encuentras el correo, intenta revisar en spam."
    (close)="closeModal()" />