.body {
    display: flex;
    height: 100vh;
}

.content-overlay-wrapper {
    flex-grow: 1;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.content-overlay-wrapper.content-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

@media (width > 768px) {
    .content-overlay-wrapper {
        margin-left: 50px;
        margin-top: 10px;
    }

    .content-overlay-wrapper.content-overlay {
        background-color: transparent;
        pointer-events: auto;
    }
}