<div class="prizes">
    <h1>Premios</h1>
    <div class="prize-list">
        <app-template-card-profile src="fake-images/premio-beca.webp" alt="Premio de una beca"
            title="Premio de una beca en la academia" status="Canjeado" radius="50%" />
        <app-template-card-profile src="fake-images/regalo.webp" alt="Regalo de un curso"
            title="Regalo de un curso de Udemy" status="Canjeado" radius="50%" />
        <app-template-card-profile src="fake-images/punto-exam.webp" alt="Punto para un examen"
            title="Premio de un punto para el examen de Biología" status="Por Canjear" radius="50%" />
    </div>
</div>