<div class="container">
    <div class="auth">
        <h1>Iniciar Sesión</h1>
        <form [formGroup]="loginForm" class="form-login">
            <app-input typeInput="text" placeholder="Usuario" formControlName="username"/>
            <app-input typeInput="password" placeholder="Contraseña" formControlName="password"/>
            <label class="form-error" *ngIf="formError != ''">{{formError}}</label>
            <app-button text="Iniciar Sesión" padding="10px" width="15rem" hoverColor="#1f6f9b" radius="0" (click)="login()"/>
            <button id="google-btn"></button>
        </form>
        <p>¿Aún no tienes cuenta? <span class="url" routerLink="/register">Registrate aquí</span></p>
        <p class="url" routerLink="/forgot-password">¿Olvidaste tu contraseña?</p>
    </div>
    <div class="image" *ngIf="showImage">
        <img src="images/medico.webp" alt="Imagen profesional de un médico">
    </div>
</div>