.container {
    display: flex;
    align-items: stretch; /* Asegura que ambos elementos ocupen toda la altura */
    justify-content: center;
    gap: 20px; /* Espacio entre los elementos */
    height: 100vh; /* Altura total de la pantalla */
}

.auth {
    flex: 1; /* Ocupa el 60% del ancho */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f9f9f9; /* Fondo para diferenciar el formulario */
    padding: 20px;
    box-sizing: border-box; /* Incluye padding en el cálculo del tamaño */
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.image {
    flex: 1; /* Ocupa el 40% del ancho */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
}

.image img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin deformarse */
}

p {
    color: #505050bb;
}

.url {
    cursor: pointer;
}